# Telecom Deliquency Prediction

<img src='dsflow.png'>

<img src="Data Description.png">

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

C:\Users\anshu\AppData\Roaming\Python\Python37\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\anshu\AppData\Roaming\Python\Python37\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
C:\Users\anshu\AppData\Roaming\Python\Python37\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  stacklevel=1)

## 2. Data Collection & Data Exploration

In [2]:
#load data
df = pd.read_csv(r"E:\MLIoT\ML\dataset\telecom\telecom deliquency\telecom deliquency dataset.csv")
df.shape

(209593, 36)

In [4]:
df.head().T

,0,1,2,3,4
label,0,1,1,1,1
msisdn,21408I70789,76462I70374,17943I70372,55773I70781,03813I82730
aon,272,712,535,241,947
daily_decr30,3055.05,12122,1398,21.228,150.619
daily_decr90,3065.15,12124.8,1398,21.228,150.619
rental30,220.13,3691.26,900.13,159.42,1098.9
rental90,260.13,3691.26,900.13,159.42,1098.9
last_rech_date_ma,2,20,3,41,4
last_rech_date_da,0,0,0,0,0
last_rech_amt_ma,1539,5787,1539,947,2309
cnt_ma_rech30,2,1,1,0,7
fr_ma_rech30,21,0,0,0,2
sumamnt_ma_rech30,3078,5787,1539,0,20029
medianamnt_ma_rech30,1539,5787,1539,0,2309
medianmarechprebal30,7.5,61.04,66.32,0,29
cnt_ma_rech90,2,1,1,1,8
fr_ma_rech90,21,0,0,0,2
sumamnt_ma_rech90,3078,5787,1539,947,23496
medianamnt_ma_rech90,1539,5787,1539,947,2888
medianmarechprebal90,7.5,61.04,66.32,2.5,35
cnt_da_rech30,0,0,0,0,0
fr_da_rech30,0,0,0,0,0
cnt_da_rech90,0,0,0,0,0
fr_da_rech90,0,0,0,0,0
cnt_loans30,2,1,1,2,7
amnt_loans30,12,12,6,12,42
maxamnt_loans30,6,12,6,6,6
medianamnt_loans30,0,0,0,0,0
cnt_loans90,2,1,1,2,7
amnt_loans90,12,12,6,12,42
maxamnt_loans90,6,12,6,6,6
medianamnt_loans90,0,0,0,0,0
payback30,29,0,0,0,2.33333
payback90,29,0,0,0,2.33333
pcircle,UPW,UPW,UPW,UPW,UPW
pdate,20-07-2016,10-08-2016,19-08-2016,06-06-2016,22-06-2016

In [5]:
# unwanted columns - msisdn, pdate

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
label,209593.0,0.875177,0.330519,0.000000,1.000,1.000000,1.00,1.000000
aon,209593.0,8112.343445,75696.082531,-48.000000,246.000,527.000000,982.00,999860.755200
daily_decr30,209593.0,5381.402289,9220.623400,-93.012667,42.440,1469.175667,7244.00,265926.000000
daily_decr90,209593.0,6082.515068,10918.812767,-93.012667,42.692,1500.000000,7802.79,320630.000000
rental30,209593.0,2692.581910,4308.586781,-23737.140000,280.420,1083.570000,3356.94,198926.110000
rental90,209593.0,3483.406534,5770.461279,-24720.580000,300.260,1334.000000,4201.79,200148.110000
last_rech_date_ma,209593.0,3755.847800,53905.892230,-29.000000,1.000,3.000000,7.00,998650.377700
last_rech_date_da,209593.0,3712.202921,53374.833430,-29.000000,0.000,0.000000,0.00,999171.809400
last_rech_amt_ma,209593.0,2064.452797,2370.786034,0.000000,770.000,1539.000000,2309.00,55000.000000
cnt_ma_rech30,209593.0,3.978057,4.256090,0.000000,1.000,3.000000,5.00,203.000000
fr_ma_rech30,209593.0,3737.355121,53643.625172,0.000000,0.000,2.000000,6.00,999606.368100
sumamnt_ma_rech30,209593.0,7704.501157,10139.621714,0.000000,1540.000,4628.000000,10010.00,810096.000000
medianamnt_ma_rech30,209593.0,1812.817952,2070.864620,0.000000,770.000,1539.000000,1924.00,55000.000000
medianmarechprebal30,209593.0,3851.927942,54006.374433,-200.000000,11.000,33.900000,83.00,999479.419300
cnt_ma_rech90,209593.0,6.315430,7.193470,0.000000,2.000,4.000000,8.00,336.000000
fr_ma_rech90,209593.0,7.716780,12.590251,0.000000,0.000,2.000000,8.00,88.000000
sumamnt_ma_rech90,209593.0,12396.218352,16857.793882,0.000000,2317.000,7226.000000,16000.00,953036.000000
medianamnt_ma_rech90,209593.0,1864.595821,2081.680664,0.000000,773.000,1539.000000,1924.00,55000.000000
medianmarechprebal90,209593.0,92.025541,369.215658,-200.000000,14.600,36.000000,79.31,41456.500000
cnt_da_rech30,209593.0,262.578110,4183.897978,0.000000,0.000,0.000000,0.00,99914.441420
fr_da_rech30,209593.0,3749.494447,53885.414979,0.000000,0.000,0.000000,0.00,999809.240100
cnt_da_rech90,209593.0,0.041495,0.397556,0.000000,0.000,0.000000,0.00,38.000000
fr_da_rech90,209593.0,0.045712,0.951386,0.000000,0.000,0.000000,0.00,64.000000
cnt_loans30,209593.0,2.758981,2.554502,0.000000,1.000,2.000000,4.00,50.000000
amnt_loans30,209593.0,17.952021,17.379741,0.000000,6.000,12.000000,24.00,306.000000
maxamnt_loans30,209593.0,274.658747,4245.264648,0.000000,6.000,6.000000,6.00,99864.560860
medianamnt_loans30,209593.0,0.054029,0.218039,0.000000,0.000,0.000000,0.00,3.000000
cnt_loans90,209593.0,18.520919,224.797423,0.000000,1.000,2.000000,5.00,4997.517944
amnt_loans90,209593.0,23.645398,26.469861,0.000000,6.000,12.000000,30.00,438.000000
maxamnt_loans90,209593.0,6.703134,2.103864,0.000000,6.000,6.000000,6.00,12.000000
medianamnt_loans90,209593.0,0.046077,0.200692,0.000000,0.000,0.000000,0.00,3.000000
payback30,209593.0,3.398826,8.813729,0.000000,0.000,0.000000,3.75,171.500000
payback90,209593.0,4.321485,10.308108,0.000000,0.000,1.666667,4.50,171.500000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209593 entries, 0 to 209592
Data columns (total 36 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   label                 209593 non-null  int64
 1   msisdn                209593 non-null  object
 2   aon                   209593 non-null  float64
 3   daily_decr30          209593 non-null  float64
 4   daily_decr90          209593 non-null  float64
 5   rental30              209593 non-null  float64
 6   rental90              209593 non-null  float64
 7   last_rech_date_ma     209593 non-null  float64
 8   last_rech_date_da     209593 non-null  float64
 9   last_rech_amt_ma      209593 non-null  int64
 10  cnt_ma_rech30         209593 non-null  int64
 11  fr_ma_rech30          209593 non-null  float64
 12  sumamnt_ma_rech30     209593 non-null  float64
 13  medianamnt_ma_rech30  209593 non-null  float64
 14  medianmarechprebal30  209593 non-null  float64
 15  cnt_ma_rech90         209593 non-null  int64
 16  fr_ma_rech90          209593 non-null  int64
 17  sumamnt_ma_rech90     209593 non-null  int64
 18  medianamnt_ma_rech90  209593 non-null  float64
 19  medianmarechprebal90  209593 non-null  float64
 20  cnt_da_rech30         209593 non-null  float64
 21  fr_da_rech30          209593 non-null  float64
 22  cnt_da_rech90         209593 non-null  int64
 23  fr_da_rech90          209593 non-null  int64
 24  cnt_loans30           209593 non-null  int64
 25  amnt_loans30          209593 non-null  int64
 26  maxamnt_loans30       209593 non-null  float64
 27  medianamnt_loans30    209593 non-null  float64
 28  cnt_loans90           209593 non-null  float64
 29  amnt_loans90          209593 non-null  int64
 30  maxamnt_loans90       209593 non-null  int64
 31  medianamnt_loans90    209593 non-null  float64
 32  payback30             209593 non-null  float64
 33  payback90             209593 non-null  float64
 34  pcircle               209593 non-null  object
 35  pdate                 209593 non-null  object
dtypes: float64(21), int64(12), object(3)
memory usage: 57.6+ MB

In [8]:
len(df.msisdn.unique())

186243

In [9]:
len(df.pcircle.unique())

1

In [10]:
df.pcircle.unique()

array(['UPW'], dtype=object)

In [11]:
df.skew()

label                   -2.270254
aon                     10.392949
daily_decr30             3.946230
daily_decr90             4.252565
rental30                 4.521929
rental90                 4.437681
last_rech_date_ma       14.790974
last_rech_date_da       14.814857
last_rech_amt_ma         3.781149
cnt_ma_rech30            3.283842
fr_ma_rech30            14.772833
sumamnt_ma_rech30        6.386787
medianamnt_ma_rech30     3.512324
medianmarechprebal30    14.779875
cnt_ma_rech90            3.425254
fr_ma_rech90             2.285423
sumamnt_ma_rech90        4.897950
medianamnt_ma_rech90     3.752706
medianmarechprebal90    44.880503
cnt_da_rech30           17.818364
fr_da_rech30            14.776430
cnt_da_rech90           27.267278
fr_da_rech90            28.988083
cnt_loans30              2.713421
amnt_loans30             2.975719
maxamnt_loans30         17.658052
medianamnt_loans30       4.551043
cnt_loans90             16.594408
amnt_loans90             3.150006
maxamnt_loans90          1.678304
medianamnt_loans90       4.895720
payback30                8.310695
payback90                6.899951
dtype: float64

## 3. Data Cleaning

In [13]:
df.label.value_counts(normalize=True)

1    0.875177
0    0.124823
Name: label, dtype: float64

In [17]:
# check for missing values
df.isnull().sum()

label                   0
msisdn                  0
aon                     0
daily_decr30            0
daily_decr90            0
rental30                0
rental90                0
last_rech_date_ma       0
last_rech_date_da       0
last_rech_amt_ma        0
cnt_ma_rech30           0
fr_ma_rech30            0
sumamnt_ma_rech30       0
medianamnt_ma_rech30    0
medianmarechprebal30    0
cnt_ma_rech90           0
fr_ma_rech90            0
sumamnt_ma_rech90       0
medianamnt_ma_rech90    0
medianmarechprebal90    0
cnt_da_rech30           0
fr_da_rech30            0
cnt_da_rech90           0
fr_da_rech90            0
cnt_loans30             0
amnt_loans30            0
maxamnt_loans30         0
medianamnt_loans30      0
cnt_loans90             0
amnt_loans90            0
maxamnt_loans90         0
medianamnt_loans90      0
payback30               0
payback90               0
pcircle                 0
pdate                   0
dtype: int64

In [18]:
# check for duplicated rows
df.duplicated().sum()

1

In [19]:
# droppping duplicates
df.drop_duplicates(inplace=True)

In [20]:
# drop unwanted columns
df.drop(["msisdn","pdate",'pcircle'],axis=1,inplace=True)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209592 entries, 0 to 209592
Data columns (total 33 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   label                 209592 non-null  int64
 1   aon                   209592 non-null  float64
 2   daily_decr30          209592 non-null  float64
 3   daily_decr90          209592 non-null  float64
 4   rental30              209592 non-null  float64
 5   rental90              209592 non-null  float64
 6   last_rech_date_ma     209592 non-null  float64
 7   last_rech_date_da     209592 non-null  float64
 8   last_rech_amt_ma      209592 non-null  int64
 9   cnt_ma_rech30         209592 non-null  int64
 10  fr_ma_rech30          209592 non-null  float64
 11  sumamnt_ma_rech30     209592 non-null  float64
 12  medianamnt_ma_rech30  209592 non-null  float64
 13  medianmarechprebal30  209592 non-null  float64
 14  cnt_ma_rech90         209592 non-null  int64
 15  fr_ma_rech90          209592 non-null  int64
 16  sumamnt_ma_rech90     209592 non-null  int64
 17  medianamnt_ma_rech90  209592 non-null  float64
 18  medianmarechprebal90  209592 non-null  float64
 19  cnt_da_rech30         209592 non-null  float64
 20  fr_da_rech30          209592 non-null  float64
 21  cnt_da_rech90         209592 non-null  int64
 22  fr_da_rech90          209592 non-null  int64
 23  cnt_loans30           209592 non-null  int64
 24  amnt_loans30          209592 non-null  int64
 25  maxamnt_loans30       209592 non-null  float64
 26  medianamnt_loans30    209592 non-null  float64
 27  cnt_loans90           209592 non-null  float64
 28  amnt_loans90          209592 non-null  int64
 29  maxamnt_loans90       209592 non-null  int64
 30  medianamnt_loans90    209592 non-null  float64
 31  payback30             209592 non-null  float64
 32  payback90             209592 non-null  float64
dtypes: float64(21), int64(12)
memory usage: 54.4 MB

In [22]:
df.shape

(209592, 33)

In [23]:
#check for outliers
df.skew()

label                   -2.270245
aon                     10.392923
daily_decr30             3.946219
daily_decr90             4.252553
rental30                 4.521921
rental90                 4.437670
last_rech_date_ma       14.790938
last_rech_date_da       14.814821
last_rech_amt_ma         3.781141
cnt_ma_rech30            3.283838
fr_ma_rech30            14.772797
sumamnt_ma_rech30        6.386774
medianamnt_ma_rech30     3.512314
medianmarechprebal30    14.779840
cnt_ma_rech90            3.425244
fr_ma_rech90             2.285415
sumamnt_ma_rech90        4.897937
medianamnt_ma_rech90     3.752696
medianmarechprebal90    44.880396
cnt_da_rech30           17.818321
fr_da_rech30            14.776395
cnt_da_rech90           27.267213
fr_da_rech90            28.988013
cnt_loans30              2.713426
amnt_loans30             2.975720
maxamnt_loans30         17.658009
medianamnt_loans30       4.551031
cnt_loans90             16.594368
amnt_loans90             3.149999
maxamnt_loans90          1.678297
medianamnt_loans90       4.895707
payback30                8.311500
payback90                6.900427
dtype: float64

In [24]:
df.aon.max()

999860.7552

In [30]:
df.aon.quantile(0.99)

2420.0899999999965

In [39]:
df2 = df[df.aon<df.aon.quantile(0.99)]
df2.shape

(207496, 33)

In [40]:
df.label.value_counts()

1    183430
0     26162
Name: label, dtype: int64

In [41]:
df2.label.value_counts()

1    181625
0     25871
Name: label, dtype: int64

In [42]:
df2.skew()

label                   -2.272207
aon                      0.944984
daily_decr30             3.930636
daily_decr90             4.249075
rental30                 4.531733
rental90                 4.442035
last_rech_date_ma       14.795886
last_rech_date_da       14.805897
last_rech_amt_ma         3.757491
cnt_ma_rech30            3.284978
fr_ma_rech30            14.756316
sumamnt_ma_rech30        6.393722
medianamnt_ma_rech30     3.459655
medianmarechprebal30    14.822187
cnt_ma_rech90            3.431016
fr_ma_rech90             2.288640
sumamnt_ma_rech90        4.911325
medianamnt_ma_rech90     3.705475
medianmarechprebal90    44.935475
cnt_da_rech30           17.860676
fr_da_rech30            14.789794
cnt_da_rech90           27.353295
fr_da_rech90            29.258080
cnt_loans30              2.703805
amnt_loans30             2.965542
maxamnt_loans30         17.622940
medianamnt_loans30       4.555080
cnt_loans90             16.597000
amnt_loans90             3.151147
maxamnt_loans90          1.679215
medianamnt_loans90       4.898409
payback30                8.301540
payback90                6.888150
dtype: float64

In [44]:
print(df2.shape)
for col in list(df2.columns):
    df2 = df2[df2[col]>=0]
print(df2.shape)

(207496, 33)
(195345, 33)

In [45]:
df2.label.value_counts()

1    172279
0     23066
Name: label, dtype: int64

In [46]:
df2.skew()

label                   -2.367051
aon                      0.961392
daily_decr30             3.856837
daily_decr90             4.167616
rental30                 4.489944
rental90                 4.386981
last_rech_date_ma       14.649404
last_rech_date_da       14.695652
last_rech_amt_ma         3.848888
cnt_ma_rech30            3.253983
fr_ma_rech30            14.669947
sumamnt_ma_rech30        3.886160
medianamnt_ma_rech30     3.504610
medianmarechprebal30    14.847234
cnt_ma_rech90            3.393468
fr_ma_rech90             2.306918
sumamnt_ma_rech90        4.074531
medianamnt_ma_rech90     3.713268
medianmarechprebal90    45.547866
cnt_da_rech30           17.783659
fr_da_rech30            14.814224
cnt_da_rech90           26.982398
fr_da_rech90            28.009033
cnt_loans30              2.663837
amnt_loans30             2.923894
maxamnt_loans30         17.617949
medianamnt_loans30       4.591029
cnt_loans90             16.654377
amnt_loans90             3.092800
maxamnt_loans90          1.617035
medianamnt_loans90       4.963922
payback30                8.204411
payback90                6.796288
dtype: float64

In [53]:
df2.last_rech_date_ma.describe()

count    195345.000000
mean       3826.649322
std       54408.602560
min           0.000000
25%           1.000000
50%           3.000000
75%           7.000000
max      998650.377700
Name: last_rech_date_ma, dtype: float64

In [63]:
df2.last_rech_date_ma.quantile(0.9949)

109.74559999996563

In [64]:
print(df2.shape)
df2 = df2[df2.last_rech_date_ma<=df2.last_rech_date_ma.quantile(0.9949)]
print(df2.shape)

(195345, 33)
(194348, 33)

In [65]:
df2.label.value_counts()

1    171384
0     22964
Name: label, dtype: int64

In [66]:
df2.skew()

label                   -2.365848
aon                      0.961460
daily_decr30             3.851298
daily_decr90             4.167371
rental30                 4.497021
rental90                 4.392047
last_rech_date_ma        3.597366
last_rech_date_da       14.705459
last_rech_amt_ma         3.857278
cnt_ma_rech30            3.185605
fr_ma_rech30            14.661012
sumamnt_ma_rech30        3.884008
medianamnt_ma_rech30     3.510273
medianmarechprebal30    14.884645
cnt_ma_rech90            3.381100
fr_ma_rech90             2.306660
sumamnt_ma_rech90        4.074186
medianamnt_ma_rech90     3.719578
medianmarechprebal90    45.538627
cnt_da_rech30           17.748529
fr_da_rech30            14.784109
cnt_da_rech90           26.942945
fr_da_rech90            27.955584
cnt_loans30              2.659714
amnt_loans30             2.913594
maxamnt_loans30         17.636395
medianamnt_loans30       4.590311
cnt_loans90             16.658015
amnt_loans90             3.088584
maxamnt_loans90          1.617446
medianamnt_loans90       4.964668
payback30                8.207178
payback90                6.801018
dtype: float64

In [78]:
df2.medianmarechprebal90.quantile(0.9995)

5283.580500000913

In [76]:
df2.medianmarechprebal90.max()

41456.5

In [79]:
print(df2.shape)

(194348, 33)

In [80]:
df2 = df2[df2.medianmarechprebal90<=df2.medianmarechprebal90.quantile(0.9995)]
print(df2.shape)

(194250, 33)

In [81]:
df2.skew()

label                   -2.366187
aon                      0.961606
daily_decr30             3.811753
daily_decr90             4.145517
rental30                 4.491935
rental90                 4.392569
last_rech_date_ma        3.601754
last_rech_date_da       14.716121
last_rech_amt_ma         3.856489
cnt_ma_rech30            2.719742
fr_ma_rech30            14.657264
sumamnt_ma_rech30        3.828015
medianamnt_ma_rech30     3.446270
medianmarechprebal30    14.881240
cnt_ma_rech90            2.953799
fr_ma_rech90             2.306436
sumamnt_ma_rech90        4.038081
medianamnt_ma_rech90     3.642349
medianmarechprebal90    10.035321
cnt_da_rech30           17.757741
fr_da_rech30            14.780330
cnt_da_rech90           26.948226
fr_da_rech90            28.059250
cnt_loans30              2.659238
amnt_loans30             2.913099
maxamnt_loans30         17.631905
medianamnt_loans30       4.591854
cnt_loans90             16.662024
amnt_loans90             3.087988
maxamnt_loans90          1.618972
medianamnt_loans90       4.966826
payback30                8.205565
payback90                6.800783
dtype: float64

In [82]:
df2.fr_da_rech90.max()

64

In [86]:
df2.fr_da_rech90.quantile(0.999)

16.0

In [87]:
print(df2.shape)
df2 = df2[df2.fr_da_rech90<=df2.fr_da_rech90.quantile(0.999)]
print(df2.shape)

(194250, 33)
(194063, 33)

In [88]:
df2.skew()

label                   -2.366946
aon                      0.961682
daily_decr30             3.814356
daily_decr90             4.147703
rental30                 4.496710
rental90                 4.396851
last_rech_date_ma        3.603384
last_rech_date_da       14.717283
last_rech_amt_ma         3.854173
cnt_ma_rech30            2.720848
fr_ma_rech30            14.650109
sumamnt_ma_rech30        3.826910
medianamnt_ma_rech30     3.434697
medianmarechprebal30    14.881950
cnt_ma_rech90            2.954542
fr_ma_rech90             2.305638
sumamnt_ma_rech90        4.039803
medianamnt_ma_rech90     3.634339
medianmarechprebal90    10.038194
cnt_da_rech30           17.761835
fr_da_rech30            14.788434
cnt_da_rech90           28.138204
fr_da_rech90            24.585016
cnt_loans30              2.658988
amnt_loans30             2.912641
maxamnt_loans30         17.634117
medianamnt_loans30       4.591793
cnt_loans90             16.653925
amnt_loans90             3.087668
maxamnt_loans90          1.619672
medianamnt_loans90       4.966765
payback30                8.204455
payback90                6.800673
dtype: float64

In [93]:
df2.fr_da_rech90.quantile(0.996)

0.0

In [98]:
df2.fr_da_rech30.quantile(0.992)

0.0

In [100]:
df2.label.value_counts()

1    171147
0     22916
Name: label, dtype: int64

In [110]:
df2.cnt_da_rech30.quantile(0.994)

4.0

In [114]:
df2.cnt_da_rech90.quantile(0.999)

5.0

In [103]:
df2.cnt_da_rech30.max()

99914.44142